@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}
